.Content_group_navbar{
    background-color: teal;
    border-radius: 10%;
}
/*Contenido de una fila (ROW)*/
.Content-row{
    height: auto;
    background-color: blue;
    border-radius: 10%;
}
/*FIN*/
/*Contenido de una columna*/
.col-styles{
    margin:auto;
    background-color: aqua;
    border-radius: 10%;    
    height: 300px;
}

/*FIN de fila*/

/*contenido de form-group-1*/
.Content_form_group{
    background-color: rgba(0, 86, 167, 0.788);
    width: 100%;
    height: 280px;
    margin: auto;
    border-radius: 10%;
    margin-top: 10px;
}

.imagen_content{
    background-color: red;
    padding: 10px;
}

.imagen_content img{
    /*text-align: center;*/
    display: block;
    margin: auto;
    height: 40%;
    width: 50%;
    
}
.Content_form_group p{
    text-align: center;
    margin: auto;
    margin-top: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
/*FIN de form group*/
